


@font-face {
	font-family: 'halvetica';
	src: url('/fonts/helvetica.ttf') format('woff2 supports variations'),
       url('/fonts/helvetica.ttf') format('woff2-variations');
	font-weight: 100 1000;
}

